
<header class="site-header">
  <div class="container">
    <a class="logo" href="{{ routes.root_url }}">
      {{ shop.name }}
    </a>

    <nav>
      <a href="/">Accueil</a>
      <a href="/collections/all">Boutique</a>
      <a href="/pages/contact">Contact</a>
    </nav>
  </div>
</header>



